*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
body{
    background-color: black;
    color: white;
}
/* navbar started */
.logo-1{
    width: 165px;
    margin-top: 10px;
}

.nav-items{
    text-decoration: none;
    color: var(--white);
    font-size: 2rem;
    padding-top: 20px;
    font-family: apercu;
}

.franchise-btn{
    background-color: transparent;
    border: 1px solid white;
    border-radius: 35px;
    color: white;
    padding: 20px 25px;
    cursor: pointer;
}
.franchise-btn:hover{
    background-color: paleturquoise;
}
.order-btn{
    background-color: #ed1c24;
    color: white;
    border-radius: 35px;
    padding: 20px 25px;
    border: none;
    cursor: pointer;
}
.arrow-icon{
    background-color: white;
    color: #ed1c24;
    padding: 4px 8px;
    border-radius: 50px;
    margin-left:5px ;
    cursor: pointer;
}
.order-btn:hover{
    background-color: lightslategray;
}
hr{
    margin-top: 20px;
}
/* navbar ended */
/* main started */
#div-img-1{
    border: 1px solid #ffffff;
    width: 520px;
    height: 550px;
    margin-top: 80px;
}
.img-1{
    width: 520px;
    margin-top: 35px;
}
#div-img-2{
    border: 1px solid #ffffff;
    width: 520px;
    height: 550px;
    margin-top: 80px;
}
.div-1{
    margin-top: 60px;
    text-align: center;
}
.div-2{
    margin-top: 60px;
    text-align: center;
    line-height: 30px;
}
/* main ended */
/* footer started */
.logo-2{
    width: 145px;
    margin-top: 70px;
    margin-left: 220px;
}
.end-para-1{
    color: #ffffff;
    margin-left: 220px;
    margin-top: 30px;
    line-height: 22px;
}
.span-19{
    padding-top: 50px;
}
.end-para-2{
    color: #ffffff;
    margin-left: 120px;
    margin-top: 60px;
    line-height: 40px;
}
.end-para-3{
    color: #ffffff;
    margin-left: 100px;
    margin-top: 150px;
    line-height: 30px;
}
.span-20{
    font-family: butler;
    font-weight: 200;
}
.end-para-4{
    color: #ffffff;
    margin-left: 150px;
    margin-bottom: 0px;
}
.insta-icon{
width: 40px;
margin-top: 30px;
}
.fb-logo{
    width: 40px;
    border-radius: 10px;
    margin-left: 10px;
}
.app-store-logo{
    display: block;
    margin-top: 40px;
}
.google-logo{
    display: block;
    margin-top: 20px;
}
.maindiv-5{
    background-color: #0f0f0f;
    height: 650px;
    margin-top: 80px;
}
.village-btn{
    margin-left: 30px;
    margin-top: 20px;
    background-color: #28a745;
    color: #ffffff;
    padding: 15px 20px;
    border-radius: 30px;
    border: 1px solid white;
    cursor: pointer;
}
/* footer ended */    
